<% if logged_in? %>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h3>みんなのコース (<%= @feed_items.count %>)</h3>
        <%= render 'layouts/search' if logged_in? %>
        <%= render 'shared/feed' %>
      </div>
      <div class="col-md-3">
        <p><%= link_to "コースを登録する", new_course_path, class: "btn btn-primary btn-lg btn-record" %></p>
      </div>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
      <h2>Enjoy Golf へようこそ!</h2>
      <p>オススメのコースをみんなにシェアしませんか？</p>
      <p>
        <%= link_to 'Enjoy Golfを始めよう', signup_path, class: "btn btn-primary btn-lg btn-demo" %>
      </p>
    </div>
  </div>
<% end %>
