<h2 class="course-map">コースマップ</h2>

<script>

  var map;
  var marker;
  var infoWindow;
  var center = {
    lat: <%= courses.first.latitude %>, // 緯度
    lng: <%= courses.first.longitude %> // 経度
  };

  <% courses.each do |course| %>
    function initMap(){

      //初期表示位置
      var latlng = new google.maps.LatLng({lat: <%= course.latitude %>, lng: <%= course.longitude %>});
      let map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: <%= course.latitude %>, lng: <%= course.longitude %>},
      zoom: 10
      });

      marker = new google.maps.Marker({ // マーカーの追加
         position: center, // マーカーを立てる位置を指定
       map: map // マーカーを立てる地図を指定
      });

      infoWindow = new google.maps.InfoWindow({ // 吹き出しの追加
           content: '<%= link_to "#{course.golf_course_name}", "#{course.golf_course_detail_url}" %>' // 吹き出しに表示する内容
      });

      marker.addListener('click', function() { // マーカーをクリックしたとき
        infoWindow.open(map, marker); // 吹き出しの表示
      });

    }
  <% end %>
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMxikTK7gLrOsR29MHGc4oqid-qhi-pmQ&callback=initMap" async defer></script>
