
<table class="table background-style">
    <thead>
        <tr>
          <th></th>
          <th>コース名</th>
          <th>住所</th>
          <th>楽天総合評価</th>
        </tr>
    </thead>
    <tbody>
      <% @courses.each_with_index do |course, index| %>
        <tr>
          <td><%= index+1 %></td>
          <td><%= link_to "#{course.golf_course_name}",course.golf_course_detail_url %></td>
          <td><%= course.address %></td>
          <td class="rate"><%= course.evaluation.to_f %></td>
        </tr>
      <% end %>
    </tbody>
</table>

<%= render 'maps', courses: @courses %>
