<table class="table rakuten-background-style">
    <thead id="thead_rakuten_table">
        <tr>
          <th></th>
          <th>コース名</th>
          <th>住所</th>
          <th>評価</th>
        </tr>
    </thead>
    <tbody id="thead_rakuten_table">
      <% @courses.each_with_index do |course, index| %>
        <tr>
          <td id="search_rakuten_id"><%= index+1 %></td>
          <td><%= link_to "#{course.golf_course_name}",course.golf_course_detail_url %></td>
          <td><%= course.address %></td>
          <td class="rate"><%= course.evaluation.to_f %></td>
        </tr>
      <% end %>
    </tbody>
</table>

<%= render 'maps', courses: @courses %>
