<% provide(:title, "プロフィール編集") %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
    <div class="user_image_edit">
      <%= @user.name %>
      <span class="image">
        <%= f.label :image %>　<span class="input-unneed">※任意</span>
        <%= f.file_field :image, accept: 'image/jpeg,image/png', class: 'form-control', id: 'user-image' %>
        <%= image_tag(@user.image.url) if @user.image.present? %>
      </span>
    </div>
    <p></p>
    <div class = 'form-group'>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', id: 'user_name' %>
    </div>
    <div class = 'form-group'>
      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control', id: 'user_email' %>
    </div>
    <div class = 'form-group'>
      <%= f.label :introduction %>
      <%= f.text_area :introduction, size: "60x4", class: 'form-control', id: 'user_introduction' %>
    </div>
    <div class = 'form-group'>
      <%= f.label :sex %>
      <%= f.text_field :sex, class: 'form-control', id: 'user_sex' %>
    </div>

    <div class = 'form-group'>
      <%= f.label :best_score %>
      <%= f.text_field :best_score, class: 'form-control', id: 'best_score' %>
    </div>

    <%= f.submit "更新する", class: "btn btn-primary" %>
    <%= link_to "アカウントを削除する", user_path(@user), method: :delete,
                             data: { confirm: "本当にこのアカウントを削除してよろしいですか？" } %>
    <% end %>
  </div>
</div>
