<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <div class="user-picture-box">
        <%= image_tag @user.image.url, class: 'user-image', size: 100  %>
      </div>
      <h1><%= @user.name %></h1>
      <span><%= link_to "プロフィール", @user %></span>
      <span><b>コース</b><%= @user.courses.count %><b>件</b></span>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users follow">
        <%= render 'users' %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>
