<% provide(:title, @title) %>
<div class="background-style">
  <div class="row">
    <div class="col-md-4">
      <div class="user-picture-box">
        <%= image_tag @user.image.url, class: 'user-image', size: 100  %>
      </div>
    </div>
    <div class="col-md-8">
      <h4 class="show-user-name"><%= @user.name %></h4>　<%= @user.sex %>
      <div>
        <%= @user.introduction %>
      </div>
      <section class="stats">
        <%= render 'shared/stats', user: @user %>
      </section>
      <% if current_user == @user %>
        <div class="account-edit"><%= link_to "プロフィール編集", edit_user_path(@user) %></div>
      <% end %>
      <%= render 'follow_form', user: @user if logged_in? %>
    </div>
  </div>
  <h3><%= @title %></h3>
  <% if @users.any? %>
    <ul class="users follow">
      <%= render 'users', users: @users %>
    </ul>
    <%= will_paginate %>
  <% end %>
</div>
