<div class="row">
  <div class = 'form-group'>
    <%= form_tag :search, method: :get, remote: true do %>
      <div class="col-md-9">
        <%= text_field_tag 'keyword', params[:keyword], class: 'form-control', placeholder: "コースの正式名称をキーワード検索" %>
      </div>
      <div class="col-md-3">
        <%= submit_tag('表示' , class: 'btn btn-primary') %>
      </div>
    <% end %>
  </div>
</div>

<div id="Course_name"></div>

<%= form_with model: @course, local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class = 'form-group'>
    <%= f.label :name %>　<span class="input-need">※必須</span>
    <%= f.text_field :name, class: 'form-control', id: 'course_name', placeholder: "上記の検索フォームで正式名称を検索、コピペで入力して下さい" %>
  </div>

  <span class="picture">
    <%= f.label :picture %>　<span class="input-unneed">※任意</span>
    <%= f.file_field :picture, accept: 'image/jpeg,image/png', class: 'form-control', id: 'course_picture' %>
  </span>

  <div class = 'form-group'>
    <%= f.label :description %>　<span class="input-unneed">※任意</span>
    <%= f.text_field :description, size: "60x4", class: 'form-control', id: 'course_description' %>
  </div>

  <div class = 'form-group'>
    <%= f.label :tips %>　<span class="input-unneed">※任意</span>
    <%= f.text_field :tips, size: "30x4", class: 'form-control', id: 'course_tips' %>
  </div>

  <div class = 'form-group'>
    <%= f.label :reference %>　<span class="input-unneed">※任意</span>
    <%= f.text_field :reference, class: 'form-control', id: 'course_reference' %>
  </div>
  <div class = 'form-group'>
    <%= f.label :score %>　<span class="input-unneed">※任意</span>
    <%= f.text_field :score, class: 'form-control', id: 'course_score' %>
  </div>

  <div class = 'form-group'>
    <%= f.label :recommend %> [1~5]　<span class="input-unneed">※任意</span>
    <%= f.text_field :recommend, class: 'form-control', id: 'course_recommend' %>
  </div>

  <div class = 'form-group'>
    <%= f.label :memo %>　<span class="input-unneed">※任意</span>
    <%= f.text_field :memo, class: 'form-control', id: 'memo' %>
  </div>

  <%= f.submit nil, class: 'btn btn-primary' %>
<% end %>

<script type="text/javascript">
  $('#course_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('アップロードできる写真の最大サイズは5MBです。5MB以下の画像を選択してください');
    }
  });
</script>
