<h2 class="course-map">コースマップ</h2>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMxikTK7gLrOsR29MHGc4oqid-qhi-pmQ&callback=initMap" async defer></script>


<!--マップ-->
<div id="map" style='width: 100%; height: 500px; display: flex;'></div>

<script>
  function initMap() {

  //初期表示位置
  var latlng = new google.maps.LatLng(<%= courses.latitude %>, <%= courses.longitude %>);
  var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      center: latlng
  });

  (function(){
  var contentString =
    '<div id="content">'+
      '<div id="siteNotice">'+
      '</div>'+
      '<h1 id="firstHeading" class="firstHeading"><%= link_to "#{courses.golf_course_name}", "#{courses.golf_course_detail_url}" %></h1>'+
      '<div id="bodyContent">'+
        '<p>住所 ：<%= courses.address %></p>'+
        '<p>評価 ：<span class="rate"><%= courses.evaluation.to_f %></span></p>'+
        '<p><%= link_to "Googleマップで見る" ,"https://maps.google.co.jp/maps?q=loc:#{courses.latitude},#{courses.longitude}&iwloc=J",target: "_blank" %></p>'+
        '<img src="<%= courses.golf_course_image_url %>">'+

      '</div>'+
    '</div>';

  var infowindow = new google.maps.InfoWindow({
    content: contentString
  });

  var marker = new google.maps.Marker({
    position: {lat: <%= courses.latitude %>, lng: <%= courses.longitude %>},
    map: map,
    title: '<%= courses.golf_course_name %>'
  });

  marker.addListener('click', function() {
    infowindow.open(map, marker);
    });
  })();
}
</script>
