<h2 class="course-map">コースマップ</h2>
<div id='map' style='width: 100%; height: 500px;'></div>

<script>

  var map;
  var marker;
  var infoWindow;
  var center = {
    lat: <%= courses.latitude %>, // 緯度
    lng: <%= courses.longitude %> // 経度
  };
  function initMap(){

    //初期表示位置
    var latlng = new google.maps.LatLng({lat: <%= courses.latitude %>, lng: <%= courses.longitude %>});
    let map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: <%= courses.latitude %>, lng: <%= courses.longitude %>},
    zoom: 10
    });

    marker = new google.maps.Marker({ // マーカーの追加
       position: center, // マーカーを立てる位置を指定
     map: map // マーカーを立てる地図を指定
    });

    infoWindow = new google.maps.InfoWindow({ // 吹き出しの追加
      '<div id="content">'+
        '<div id="siteNotice">'+
        '</div>'+
        '<h1 id="firstHeading" class="firstHeading"><%= link_to "#{course.golf_course_name}", "#{course.golf_course_detail_url}" %></h1>'+
        '<div id="bodyContent">'+
          '<p>住所 ：<%= course.address %></p>'+
          '<p>評価 ：<span class="rate"><%= course.evaluation.to_f %></span></p>'+
          '<p><%= link_to "Googleマップで見る" ,"https://maps.google.co.jp/maps?q=loc:#{course.latitude},#{course.longitude}&iwloc=J",target: "_blank" %></p>'+
          '<img src="<%= course.golf_course_image_url %>">'+

        '</div>'+
      '</div>';
    });

    marker.addListener('click', function() { // マーカーをクリックしたとき
      infoWindow.open(map, marker); // 吹き出しの表示
    });

  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMxikTK7gLrOsR29MHGc4oqid-qhi-pmQ&callback=initMap" async defer></script>
