<h2>コースマップ</h2>
<div id='map' style='width: 100%; height: 500px;'></div>

<script>

  var map;
  var marker;
  var infoWindow;
  var center = {
    lat: <%= @courses.latitude %>, // 緯度
    lng: <%= @courses.longitude %> // 経度
  };
  function initMap(){

    //初期表示位置
    var latlng = new google.maps.LatLng({lat: <%= @courses.latitude %>, lng: <%= @courses.longitude %>});
    let map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: <%= @courses.latitude %>, lng: <%= @courses.longitude %>},
    zoom: 10
    });

    marker = new google.maps.Marker({ // マーカーの追加
       position: center, // マーカーを立てる位置を指定
     map: map // マーカーを立てる地図を指定
    });

    infoWindow = new google.maps.InfoWindow({ // 吹き出しの追加
         content: '<%= link_to "#{@courses.golf_course_name}", "#{@courses.golf_course_detail_url}" %>' // 吹き出しに表示する内容
    });

    marker.addListener('click', function() { // マーカーをクリックしたとき
      infoWindow.open(map, marker); // 吹き出しの表示
    });

  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMxikTK7gLrOsR29MHGc4oqid-qhi-pmQ&callback=initMap" async defer></script>
