<% provide(:title, "コース情報の編集") %>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <%= form_tag :search, method: :get, remote: true do %>
        <%= label_tag :keyword, 'コースの正式名称をキーワード検索'%>
        <%= text_field_tag 'keyword', params[:keyword], class: 'form-control', placeholder: "地名やコース名のキーワードを入力してください" %>
        <%= submit_tag('検索結果を表示' , class: 'btn btn-primary') %>
      <% end %>

      <div id="Course_name"></div>

      <%= form_with model: @course, local: true do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <div class = 'form-group'>
          <%= f.label :name %>　<span class="input-need">※必須</span>
          <%= f.text_field :name, class: 'form-control', id: 'course_name' %>
        </div>

        <span class="picture">
          <%= f.label :picture %>　<span class="input-unneed">※任意</span>
          <%= f.file_field :picture, accept: 'image/jpeg,image/png', class: 'form-control', id: 'course-picture' %>
          <%= image_tag(@course.picture.thumb400.url) if @course.picture.url.present? %>
        </span>

        <div class = 'form-group'>
          <%= f.label :description %>　<span class="input-unneed">※任意</span>
          <%= f.text_field :description, size: "60x4", class: 'form-control', id: 'course_description' %>
        </div>

        <div class = 'form-group'>
          <%= f.label :tips %>　<span class="input-unneed">※任意</span>
          <%= f.text_field :tips, size: "30x4", class: 'form-control', id: 'course_tips' %>
        </div>

        <div class = 'form-group'>
          <%= f.label :reference %>　<span class="input-unneed">※任意</span>
          <%= f.text_field :reference, class: 'form-control', id: 'course_reference' %>
        </div>

        <div class = 'form-group'>
          <%= f.label :score %>　<span class="input-unneed">※任意</span>
          <%= f.text_field :score, class: 'form-control', id: 'course_score' %>
        </div>

        <div class = 'form-group'>
          <%= f.label :recommend %> [1~5]　<span class="input-unneed">※任意</span>
          <%= f.text_field :recommend, class: 'form-control', id: 'course_recommend' %>
        </div>

        <div class = 'form-group'>
          <%= f.label :memo %>　<span class="input-unneed">※任意</span>
          <%= f.text_field :memo, class: 'form-control', id: 'course_memo' %>
        </div>

        <%= f.submit nil, class: 'btn btn-primary' %>
        <%= link_to "コースを削除する", course_path(@course), method: :delete,
                                    data: { confirm: "本当にこのコースを削除してよろしいですか？" } %>
      <% end %>
    </div>
  </div>
</div>
