<% provide(:title, 'コース一覧') %>
<%= render 'layouts/search' if logged_in? %>
<% if @search_word.present? %>
  <h3>”<%= @search_word %>”の検索結果：<%= @courses.count %>件</h3>
<% else %>
  <h3>コース一覧</h3>
<% end %>
<ul class="courses">
  <%= render @courses, course: @course %>
</ul>
<%= will_paginate %>
