<% provide(:title, "#{@course.name}") %>
<% @comments  = @course.feed_comment(@course.id) %>
<% @logs  = @course.feed_log(@course.id) %>
<div class="background-style" id="fh5co-portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="picture">
          <%= link_to((image_tag @course.picture.thumb400.url), course_path(@course.id), class: 'course-picture') if @course.picture.url.present? %>
        </span>
        <%= render 'users/favorite_form', course: @course %>
        <%= render 'users/list_form', course: @course %>
      </div>
      <div class="col-md-8">
        <h2 class="course-name"><%= @course.name %></h2>　　
        <div class="change-course">
          <% if current_user == @course.user %>
            <%= link_to "編集", edit_course_path(@course), class: 'edit-course' %>　
          <% end %>
          <% if current_user.admin? || (current_user == @course.user) %>
            <%= link_to "削除", course_path(@course), method: :delete, class: 'delete-course',
                                          data: { confirm: "本当に削除しますか？" } %>
          <% end %>
        </div>
        <div class="text-wrap">
          <h4 class="course-info text">コース説明：
            <%= @courses.golf_course_caption if !@courses.nil? %>
          </h4>
          <p class="readmore-btn"><a href="">続きを読む</a></p>
        </div>
        <h4 class="course-info">コース詳細：<%= link_to "#{@courses.golf_course_name}", @courses.golf_course_detail_url, target: "_blank" %></h4>
        <h4 class="course-info">住所：<%= @courses.address %></h4>
        <div class="tips">
          <h5 class="title-tips">コツ・ポイント</h5>
          <h5><%= @course.tips %></h5>
        </div>
        <div class="show-course-other-info">
          <div class="course-info">
            <h5>ラウンド回数：</h5><h4><%= @course.logs.count %></h4> <h5>回</h5>
          </div>
          <div class="course-info">
            <h5>ベストスコア：</h5><h4><%= @course.score %></h4>
          </div>
          <div class="course-info">
            <h5>オススメ度：</h5>
            <h4>
              <% if @course.recommend.present? %>
                <%= "★" * @course.recommend %><%= "☆" * (5 - @course.recommend) %>
              <% end %>
            </h4>
          </div>
        </div>
      </div>
      <div class="log-comment">
        <% if current_user == @course.user %>
          <div class="log">
            <%= render "logs/feed_logs", logs: @logs %>
            <%= render "logs/new" %>
          </div>
        <% end %>
        <div class="comment">
          <%= render "comments/feed_comments", course: @course, comments: @comments %>
          <%= render "comments/new" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="fadein">
  <%= render 'map', courses: @courses %>
</div>
