<header class="navbar navbar-fixed-top pc-nav">
  <div class="container">
    <div class="row">

      <div class="col-sm-4 col-xs-12">
        <%= link_to(image_tag("header_logo.png", :alt => ""), root_url, id: 'logo') %>
      </div>

      <nav>
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <% if current_user.notification == true %>
              <li class="new_notification header-link">
            <% else %>
              <li class="no_notification header-link">
            <% end %>
            <%= link_to notifications_path do %>
              <span class="fas fa-bell"> 通知</span>
            <% end %>
            </li>
            <li class="header-link"><%= link_to ' お気に入り', favorites_path ,class: "fas fa-heart"%></li>
            <li class="header-link"><%= link_to ' 行く予定リスト', lists_path, class: "fas fa-list-alt" %></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="fas fa-user-cog"></span> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to 'プロフィール', current_user %></li>
                <li><%= link_to 'ユーザー一覧', users_path %></li>
                <li><%= link_to 'Enjoy Golfとは？', about_path %></li>
                <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
              </ul>
            </li>

          <% else %>
            <li><%= link_to ' Enjoy Golfとは？', about_path, class: "fas fa-question-circle" %></li>
            <li><%= link_to 'ユーザー登録(無料)', signup_path, class: "fas fa-user-plus" %></li>
            <li><%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: "" %><li>
            <li class="header-link"><%= link_to 'ログイン', login_path %></li>
          <% end %>
        </ul>
      </nav>

    </div>
  </div>
</header>
